<div class="new-hero">
  <label class="title" for="name">Name</label>
  <input [formControl]="nameControl"
         class="form-control"
         id="name"
         name="name">
  <div [hidden]="nameControl.valid || nameControl.pristine"
       class="alert alert-danger">
    Name is required
  </div>

  <label class="title" for="type">Type</label>
  <select [formControl]="typeControl"
          class="form-control"
          id="type"
          name="type">
    <option *ngFor="let type of TYPE | keyvalue" [value]="type.value">{{type.value}}</option>
  </select>
  <div [hidden]="typeControl.valid || typeControl.pristine"
       class="alert alert-danger">
    Type is required
  </div>

  <button (click)="add()" *ngIf="heroForm.valid" class="btn-success" type="button">Add hero</button>
</div>
